{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% include 'search.html'%}
<form method='POST' class="mx-4" novalidate>
    {% csrf_token %}
    <div class="mx-4">
        {% for field in form %}
            <div class="form-group">
            {{field.label_tag}}
            {% render_field field class="form-control"%}

            </div>
        {% endfor %}
        <input type="submit" value="سجل الدخول" class="boxed-btn3 mx-4"/>
    </div>

</form>
{% endblock %}